[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-image = "*"
tensorflow = "==1.15.2"
opencv-python = "*"
h5py = "*"
imgaug = "*"
Flask = "*"
Pillow = "*"
Cython = "*"
Keras = "==2.0.8"
mrcnn = {editable = true, git = "https://github.com/matterport/Mask_RCNN.git"}
cryptography = "*"
pytesseract = "*"

[requires]
python_version = "3.7"
