<!DOCTYPE html>

<html lang="it">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/png" href="/icon.png">
        <script src="/script.js"></script>
        <title>
            Document Recognizer
        </title>
    </head>
    <body>
        <div id="pageContainer">
            <div id="header">
                Document Recognizer
            </div>
            <div id="columnContainer">
                <div id="mainColumn">
                    <div id="videoContainer">
                        <video id="video" poster="black.png">
                        </video>
                        <button id="startButton" onclick="start()">
                            Avvia
                        </button>
                    </div>
                    <div id="previewContainer">
                        <div class="card">
                            <img src="dummy.png">
                            <div class="text">
                                L'esserino
                            </div>
                        </div>
                    </div>
                </div>
                <div id="listColumn">
                    <div class="card">
                        <img src="dummy.png">
                        <div class="text">
                            Matricola: 123456<br>
                            Nome: Luca Moroni
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="canvas" hidden>
            Your browser doesn't support canvases!
        </canvas>
    </body>
</html>
