<!DOCTYPE html>

<html>
    <head>
        <title>
            Document Recognition
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Saira+Condensed:wght@100&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </head>

    <body>
        <div id="title">
            Document Recognizer
        </div>
        <div id="supercontainer">
            <video id="videoPreview" autoplay="autoplay" src="{{url_for('static', filename='dummy.mp4')}}">
                Video playback not supported
            </video>
            <div id="datacontainer">
                <div class="singleel">
                    <img class="snapshotsingle" src="{{url_for('static', filename='dummy.png')}}">
                    <div class="textcontainer">
                        <div>prova</div>
                        <div>prova</div>
                    </div>
                </div>
                <div class="singleel">
                    <img class="snapshotsingle" src="{{url_for('static', filename='dummy.png')}}">
                    <div class="textcontainer">
                        <div>prova</div>
                        <div>prova</div>
                    </div>
                </div>
            </div>
            <div class="subcontainer">
                <div class="subsubcontainer">
                    <img class="roundedimage" src="{{url_for('static', filename='dummy.png')}}">
                    <div class="textcontainer2"></div>
                </div>
                <div class="subsubcontainer">
                    <img class="roundedimage" src="{{url_for('static', filename='dummy.png')}}">
                    <div class="textcontainer2"></div>
                </div>
                <div class="subsubcontainer">
                    <img class="roundedimage" src="{{url_for('static', filename='dummy.png')}}">
                    <div class="textcontainer2"></div>
                </div>
                <div class="subsubcontainer">
                    <img class="roundedimage" src="{{url_for('static', filename='dummy.png')}}">
                    <div class="textcontainer2"></div>
                </div>
            </div>
            <canvas id="canvas" hidden="hidden">
                Canvases not supported
            </canvas>
        </div>
    <body>
</html>
