<!DOCTYPE html>

<html>
    <head>
        <title>
            Document Recognition
        </title>
        <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </head>
    
    <body>
        <form>
            <input type="file" id="fileInput">
            <!-- <input type="button"  value=""> -->
        </form>
        <button onClick="submit()">Submit!</button><br>
        <img src="" id="canvas">
    <body>
</html>